<div class="app-box">
  <div class="app-detail">
    <div class="size-haft">
      <ion-row>
        <ion-col>
          <ion-card class="ion-text-center ion-no-margin">
            <ion-icon src="assets/images/support/icon-hotline.svg"></ion-icon>
            <ion-card-title>Hotline</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="ion-text-center ion-no-margin">
            <ion-icon src="assets/images/support/icon-chat.svg"></ion-icon>
            <ion-card-title>Chat online</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>
