<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tra cước</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Capacitor Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button size="small" (click)="getPicture('camera')">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Camera</ion-label>
  </ion-button>
  <ion-button size="small" (click)="getPicture('gallery')">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Gallery</ion-label>
  </ion-button>
  <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>

  <ion-card *ngIf="photo">
    <!-- <ion-button>
      <ion-icon src="assets/images/support/icon-dismiss.svg"></ion-icon>
    </ion-button> -->
    <ion-card-content>
      <img [src]="photo">
    </ion-card-content>
  </ion-card>

</ion-content>


