ion-button {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 16px;
    --webkit-border-radius: 24px 0px !important;
    --border-radius: 24px 0px !important;
    font-size: 20px;
    font-weight: 700;
}
ion-button.bg-white {
    --background: #ffffff;
    color: #2c2929;
    --webkit-border-radius: 9px !important;
    --border-radius: 9px !important;
}
ion-icon {
    padding-right: 12px;
}
ion-text h2 {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.logo {
    width: 45.8666%;
    margin: auto;
}
.app-sign-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}