<ion-content>
  <div class="app-sign-in">
    <ion-img class="logo" src="assets/images/boarding/logo.png"></ion-img>
    <div class="app-box pdr-20 pdt-20">
      <ion-button class="bg-white">
        <ion-icon src="assets/images/boarding/icon-facebook.svg"></ion-icon>
        Đăng ký bằng Facebook
      </ion-button>
      <ion-button class="bg-white">
        <ion-icon src="assets/images/boarding/icon-google.svg"></ion-icon>
        Đăng ký bằng Google
      </ion-button>
      <ion-button routerLink="/sign-in/register-account" >
        Đăng ký bằng Email
      </ion-button>
    </div>
  </div>
</ion-content>
