.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.other-message {
    background-color: #fff;
    color: #232326;
    font-size: 13px;
}
.my-message {
    background-color: #ED1F24;
    color: #fff;
}
.time {
    
}
.message-input {

}
.msg-btn {
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
}