<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list-header>
    <ion-label class="app-title">Thông báo gần đây</ion-label>
    <a href="#" class="seen-all">Đã xem tất cả</a>
  </ion-list-header>
  <ion-item class="app-noti has-border" lines="none" *ngFor="let item of notiData" >
    <ion-avatar  slot="start">
      <img src="{{item.notiAvatar}}" alt="">
      <div class="is-online"></div>
    </ion-avatar>
    <ion-label class="ion-text-wrap ion-no-margin">
      <h4 class="app-noti-title">    
        <ion-text color="danger">iTel CINEMA</ion-text>
        {{item.notiTitle}}
        <ion-text color="danger">50.000đ </ion-text> 
      </h4>
      <p class="app-noti-time">{{item.notiTime}}</p>
    </ion-label>
  </ion-item>
</ion-content>

