<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list-header>
    <ion-label class="app-title">Thông báo gần đây</ion-label>
    <ion-button>Đã xem tất cả</ion-button>
  </ion-list-header>
  <ion-item lines="none" *ngFor="let item of notiData" class="has-border" >
    <ion-avatar slot="start">
      <img src="{{item.notiAvatar}}" alt="">
    </ion-avatar>
    <ion-text>
      <h4 class="app-noti-title">        
        {{item.notiTitle}}
      </h4>
      <p class="app-noti-time">{{item.notiTime}}</p>
    </ion-text>
  </ion-item>
</ion-content>

