ion-avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-right: 23px;
}
ion-list-header {
    padding: 0 25px;
}
.app-title {
    font-size: 16px;
    color: #3c3c3c;
    font-weight: 700;
}
.app-noti-title {
    font-size: 13px;
    color: #151522;
    font-weight: 700;
    padding-bottom: 5px;
    line-height: 18px;
}
.app-noti-time {
    font-size: 11px;
    line-height: 18px;
    color: #151522;
    font-weight: 400;
}
.has-border {
    border-bottom:  1px solid rgba(228, 228, 228, 0.3);
    // border-bottom: 1px solid red;
}
.sub-title {
    color: #ED1F24;
    font-size: 13px;
    font-weight: 700;
}
.is-online  {
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #00C48C;
    border: 2px solid #fff;
}
.app-noti {
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
}
.seen-all {
    font-size: 14px;
    color: #ED1F24;
    text-decoration: none;
}