<div class="app-box pdr-20">
  <h2 class="app-title">Thông tin nhận SIM</h2>
  <div class="app-detail">
      <ion-row class="check-box bg-white pdt-15">
          <ion-col>
              <ion-item lines="none">
                  <ion-label>
                      Trí Thông - 0939 *** ***
                      <p>1020 đường 3/2, P6, Quận 10, HCM</p>
                  </ion-label>
                  <ion-checkbox color="light" slot="end"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
  </div>

  <h2 class="app-title">Chọn hình thức thanh toán</h2>
  <div class="app-detail">
      <ion-row class="check-box bg-white pdt-15">
          <ion-col>
              <ion-item lines="none">
                  <ion-label>
                      Thanh toán qua thẻ
                      <p>Số đuôi 4538</p>
                  </ion-label>
                  <ion-checkbox color="light" slot="end"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
  </div>
                                                  
  <div class="app-detail">
      <ion-row class="check-box bg-white pdt-15 ">
          <ion-col>
              <ion-item lines="none">
                  <ion-label class="" class="ion-text-wrap">
                      Tôi đồng ý với <ion-text>chính sách mua SIM số</ion-text>
                      của iTel
                  </ion-label>
                  <ion-checkbox color="light" slot="start"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
  </div>
  
  <div class="app-detail">
    <ion-row >
      <ion-col class="ion-align-self-center" >Phí cấp lại eSim</ion-col>
      <ion-col class="ion-align-self-end">50,000đ</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Tổng cộng</ion-col>
      <ion-col>50,000đ</ion-col>
    </ion-row>
  </div>
  <!-- <div class="app-detail">
    <ion-row>
      <ion-col class="ion-align-self-start">
        ion-col [start]
      </ion-col>
      <ion-col class="ion-align-self-center">
        ion-col [center]
      </ion-col>
      <ion-col class="ion-align-self-end">
        ion-col [end]
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  </div> -->
</div>

