<div class="app-box pdr-20 ">
    <h2 class="app-title">Thông tin nhận SIM</h2>
    <div class="app-detail">
        <ion-row class="check-box bg-white pdt-15">
            <ion-col>
                <ion-item lines="none">
                    <ion-label>
                        Trí Thông - 0939 *** ***
                        <p>1020 đường 3/2, P6, Quận 10, HCM</p>
                    </ion-label>
                    <ion-checkbox color="light" slot="end"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>

    <h2 class="app-title">Chọn hình thức thanh toán</h2>
    <div class="app-detail">
        <ion-row class="check-box bg-white pdt-15">
            <ion-col>
                <ion-item lines="none">
                    <ion-label>
                        Thanh toán qua thẻ
                        <p>Số đuôi 4538</p>
                    </ion-label>
                    <ion-checkbox class="check-payment" color="light" slot="end"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>

    <div class="app-detail info-policy">
        <ion-row class="check-box bg-white pdt-15">
            <ion-col>
                <ion-item lines="none">
                    <ion-label class="" class="ion-text-wrap">
                        Tôi đồng ý với<ion-text> chính sách mua SIM số</ion-text>
                        của iTel
                    </ion-label>
                    <ion-checkbox class="check-policy" color="light" slot="start"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
                    
    <div class="app-detail total-price has-line">
        <ion-row>
            <ion-col class="ion-text-start">Phí cấp lại eSim</ion-col>
            <ion-col class="ion-text-end price-small">50,000đ</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-start">Tổng cộng</ion-col>
            <ion-col class="ion-text-end price">50,000đ</ion-col>
        </ion-row>
    </div>
</div>