ion-range {
    --bar-height: 50px;
    --bar-border-radius: 200px;
    --bar-background: #f00;
    --bar-background-active: purple;
    --knob-background: gray;
    --pin-background: blue;
    --pin-color: red;
}