<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tiện ích</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-network-switch *ngIf="stepPage == stepUtilityPageEnum.NetworkSwitch && utilityPageEnum.SimNumber"></app-network-switch>
  <app-confirm-otp *ngIf="stepPage == stepUtilityPageEnum.ConfirmOtp && utilityPageEnum.SimNumber"></app-confirm-otp>
 
  <app-sim-registration *ngIf="stepPage == stepUtilityPageEnum.SimRegistration"></app-sim-registration>
  <app-confirm-info *ngIf="stepPage == stepUtilityPageEnum.ConfirmInfo"></app-confirm-info>
  <app-identity-card *ngIf="stepPage == stepUtilityPageEnum.TakeCamera"></app-identity-card>
  <app-sim-registration1 *ngIf="stepPage == stepUtilityPageEnum.CompleteSimRegistration"></app-sim-registration1> -->

  <!-- <app-register-info-subscription></app-register-info-subscription> -->
  <app-change-level-esim></app-change-level-esim>
</ion-content>


