<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Itel Music</ion-title>
  </ion-toolbar>
  <app-hot-menu [hotIndex]="1"></app-hot-menu>
</ion-header>

<ion-content>
</ion-content>


<!-- <app-header [title]="'itel Music'"></app-header>


<ion-content>
  <app-menu></app-menu>
  <app-banner [type]="4"></app-banner>
  <app-slider [type]="10" [sprSlider]="2"></app-slider>
  <app-list-music></app-list-music>
  <app-slider [type]="11"  [sprSlider]="2"></app-slider>
  <app-slider [type]="12"  [sprSlider]="1"></app-slider>

</ion-content> -->
