<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Itel Music</ion-title>
  </ion-toolbar>
  <app-hot-menu [hotIndex]="1"></app-hot-menu>
</ion-header>

<ion-content>
  <div class="category-box" *ngIf="categoryData !== null">
    <div class="category-block" *ngFor="let sub of categoryData.categoryItems">
      <h2 class="title-block">{{sub.subName}}</h2>
      <div class="horizon-box size-haft-point4">
        <ion-row>
          <ion-col *ngFor="let item of sub.subItems">
            <ion-img src="{{item.img}}"></ion-img>
            <ion-label>
              <h3>{{item.title}}</h3>
              <p>{{item.type}}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

</ion-content>