<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Itel Music</ion-title>
  </ion-toolbar>
  <app-hot-menu [hotIndex]="1"></app-hot-menu>
</ion-header>

<ion-content>
  <app-category-single  [type]="'itel-music'"  [subType]="'album-de-xuat'"></app-category-single>
  <app-list-music></app-list-music>
  <app-category-single  [type]="'itel-music'"  [subType]="'album-cho-ban'"></app-category-single>
</ion-content>