.app-input {
    --placeholder-color: #424242;
    --placeholder-font-weight: 300;
    color: #424242;
    border-radius: 5px;
    font-size: 16px;
    --background: #fff;
    height: 50px;
    border: 1px solid rgba(228, 228, 228, 0.6);
}
ion-label {
    color: #151522;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}
ion-input {
    --background: #fff;
    height: 50px;
}
ion-datetime {
    height: 50px;
    width: 100%;
}
ion-list {
    margin-bottom: 15px;
}