
<div class="app-box pdr-20 app-slider size-full">
  <ion-slides [pager]="true" [options]="sliderOptions">
    <ion-slide>
      <div class="slide">
        <div class="app-skip">
          <a href="">Skip</a>
        </div>
        <img src="assets/images/boarding/boarding-1.jpg" />
        <h2>Secure your number & get rewards.</h2>
        <p>Get the most secure payment app ever and enjoy it.</p>
        <ion-button class="app-next" (click)="next()">Kế tiếp</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <button class="app-skip">Skip</button>
        <img src="assets/images/boarding/boarding-2.jpg" />
        <h2>Save your money conveniently.</h2>
        <p>Get 5% cash back for each transaction and spend it easily.</p>
        <ion-button class="app-next" (click)="next()">Kế tiếp</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <button class="app-skip">Skip</button>
        <img src="assets/images/boarding/boarding-3.jpg" />
        <h2>Unlimited Data & share with friends</h2>
        <p>Online investing has never been easier than it is right now.</p>
        <ion-button class="app-next" (click)="next()">Kế tiếp</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</div>