ion-img {
    width: 18px;
    height: 20px;
    vertical-align: middle;
    margin-right: 12px;
}
ion-item {
    display: flex;
    align-items: flex-end;
}
// .ckb-payment {
//     --checkmark-color:#fff;
//     --checkmark-width: 2px;
//     --background-checked: #ED1F24;
//     --border-width: 2px;
//     --size	: 23px;
// }
// ion-label {
//     color: #424242;
//     font-size: 16px;
//     font-weight: 700;
// }