<div class="nap-tien-cho-so">
  <h2>Nạp tiền cho số</h2>
  <div class="nap-tien-cho-so-detail"> 
    <ion-row *ngIf="payments.length > 0">
      <ion-col *ngFor="let item of payments; let i = index">
        <ion-item>
          <div class="ion-checkbox-customize">
            <ion-icon src={{item.paymentImg}}></ion-icon>
            <ion-label>{{item.paymentName}}</ion-label>
            <ion-checkbox [attr.checked]="i === 0 ? true: null"></ion-checkbox>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</div>