<div class="app-box pdr-20">
  <h2 class="app-title">Hình thức thanh toán</h2>
  <div class="app-detail">
    <ion-row class="check-box bg-white pdt-15" *ngIf="payments.length > 0">
      <ion-col *ngFor="let item of payments; let i = index">
        <ion-item lines="none">
            <!-- <ion-img src="{{item.paymentImg}}"></ion-img> -->
            <ion-label>{{item.paymentName}}</ion-label>
            <ion-checkbox color="light" slot="end" [attr.checked]="i === 0 ? true: null"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</div>
