
ion-content{
    --ion-background-color:#F3F3F3;
}
ion-menu{
    --background: #4accc8;    
}
ion-menu ion-content,
ion-menu ion-item{
    --background:transparent;
}

ion-toolbar {
    --border-width: 0 !important;
}

#app-header{
    background: #ED1F24;
}
#app-header-toolbar{
    --background:transparent;
}
#app-header ion-title{
    color:#fff;
    font-size:30px;
}

#menu-header{
    padding:30px 30px 0 30px;
}
#menu-header ion-label{
    color:#fff;
    margin:0 0 0 15px;
}
#menu-header .avatar-name,
#menu-header .avatar-phone{
    color:#fff;
}
#menu-header ion-avatar{
    width:57px;
    height:57px;
}
#menu-header .avatar-name{
    font-size:20px;
}
#menu-header .avatar-phone{
    font-size:11px;
}

#menu-list{
    padding:10px 30px 30px 30px;
    background:transparent;
}
#menu-list ion-label {
    color:#fff;
}
#menu-list ion-icon{
    color:#fff;
    fill:none;
    margin-inline-end:20px;
}
#menu-list .selected ion-icon{
    color:#f00;
}
#menu-list .selected ion-label {
    color:#f00;
}

.app-title{
    font-size:22px;
    color:#3c3c3c;
    font-weight:bold;
}

.app-box{
    position:relative;
    padding:0 0 0 20px;
    margin-bottom:40px;
}
.pdr-20{
    padding-right:20px;
}
.pdt-20{
    padding-top:20px;
}
.app-detail{
    position:relative;
    z-index:1;
}
.has-bg .app-detail {
    padding:2px 0 20px  20px;
}
.has-bg::before {
    content:'';
    position: absolute;
    left:20px;
    top:0;
    width:calc(100% - 40px);
    height:100%;
    background-color:#fff;
    -webkit-border-radius:30px;
    border-radius:30px;
}
.view-all {
    position:absolute;
    right:40px;
    top:0;
    color:#243656;
    cursor:pointer;
}
.has-bg .view-all{
    top:20px;
}
.app-box ion-img{
    margin-bottom:10px;
}
.app-box ion-label h3,
.app-box ion-label p{
    font-size:16px;
}
.app-box ion-label h3{
    font-weight:bold;
    color:#3c3c3c;
}
.app-box ion-label p{
    font-weight:normal;
    color:#3F3F3F;
}

.app-slider{
    width:80%;
}
.app-slider.size-full{
    width:100%;
}
.app-slider-visible .swiper-container{
    overflow:visible;
}
.app-slider .swiper-slide img{
    width:100%;
    -webkit-border-radius:20px;
    border-radius:20px;
}
.app-slider .swiper-container-horizontal>.swiper-pagination-bullets{
    position:relative;
    bottom:auto;
    padding:15px 0;
}

.app-slider .swiper-pagination-bullet{
    position:relative;
    background-color:#777777;
    opacity:1;
}
.app-slider .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0 10px;
}
.app-slider .swiper-pagination-bullet::before{
    content:'';
    position:absolute;
    left:50%;
    top:50%;
    width:250%;
    height:250%;
    border:1px solid rgba(0,0,0,0);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    -webkit-border-radius:50%;
    border-radius:50%;
}
.app-slider .swiper-pagination-bullet-active::before{
    border:1px solid rgba(0,0,0,1);
}

.horizon-box{
    width:100%;
    padding-bottom:10px;
    overflow:hidden;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
}

.size-haft-point2 ion-row,
.size-haft-point4 ion-row,
.size-one-point8 ion-row{
    flex-wrap:nowrap;
}
.size-one-point8 ion-col{
    flex:0 0 52%;
    padding:0;
    margin-right:2%;
}
.size-haft-point2 ion-col{
    flex:0 0 46%;
    padding:0;
    margin-right:2%;
}
.size-haft-point4 ion-col{
    flex:0 0 42%;
    padding:0;
    margin-right:2%;
}
.size-haft  {
    justify-content:space-between;
}
.size-haft ion-col{
    flex:0 0 49%;
    margin:0 0 2% 0;
}
ion-checkbox {
    --checkmark-color:#fff;
    --checkmark-width: 2px;
    --background-checked: #ED1F24;
    --border-width: 2px;
    --size	: 23px;
}
.check-box ion-item {
    --background: #fff;
    border-radius: 10px;
    font-size:20px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.check-box ion-item.item-checkbox-checked{
    --background:#ED1F24;
}
.check-box ion-item.item-checkbox-checked ion-label{
    color:#fff;
}
.check-box.bg-white ion-item.item-checkbox-checked{
    --background:#fff;
}
.check-box.bg-white ion-item.item-checkbox-checked ion-label{
    color:#000;
}

.check-box ion-label{
    font-size:24px;
    color:#000;
}
.pdt-15 ion-item{
    --padding-top:15px;
    --padding-bottom:15px;
}

.radio-box ion-item{
    --background:#fff;
    --padding-bottom:20px;
    --padding-top:20px;
    -webkit-border-radius:10px;
    border-radius:10px;
    font-size:20px;
}
.radio-box ion-item.item-radio-checked{
    --background:#ED1F24;
}
.radio-box ion-item.item-radio-checked ion-label{
    color:#fff;
}
.radio-box ion-label{
    font-size:24px;
    color:#000;
}

ion-button{
    width:100%;
    --background:#EA2025;
    --padding-top:15px;
    --padding-bottom:15px;
    --border-radius:30px;
    color:#fff;
    font-size:26px;
    height:auto;
}


@media (max-width: 567px) {
    #app-header ion-title{
        font-size:24px;
    }
    .app-title{
        font-size:16px;
    }
    .app-box ion-label h3,
    .app-box ion-label p{
        font-size:12px;
    }
    ion-button{
        font-size:20px;
    }
    
}
