
ion-back-button {
    display: block;
    --color: #fff;
    --icon-margin-start: 12px;
    --icon-font-size: 18px;
}
#app-header ion-title {
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}