<ion-content>
  <div class="app-box pdr-20">
    <h2 class="app-title">Chào mừng bạn quay lại ITEL</h2>
    <div class="app-detail">
      <div class="size-half">
        <ion-list>
          <ion-label>Email của bạn</ion-label>
          <ion-item class="app-input" lines="none">
            <ion-input placeholder="Email của bạn" [(ngModel)]="loginModel.UserName"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-label>Mật khẩu</ion-label>
          <ion-item class="app-input" lines="none">
            <ion-input placeholder="Mật khẩu" type="password" [(ngModel)]="loginModel.PassWord"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click) = "loginFunction()">
          Đăng Nhập
        </ion-button>
      </div>
      <!-- <div class="size-half">
        <ion-list>
          <ion-label>Email của bạn</ion-label>
          <ion-item class="app-input" lines="none">
            <ion-input placeholder="Email của bạn" [(ngModel)]="loginModel.UserName"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-label>Mật khẩu</ion-label>
          <ion-item class="app-input" lines="none">
            <ion-input placeholder="Mật khẩu" type="password" [(ngModel)]="loginModel.PassWord"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click) = "loginFunction()">
          Đăng Nhập
        </ion-button>
      </div> -->
    </div>
  </div>
</ion-content>