ion-list-header {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 700;
}
ion-item {
    --background: #ED1F24;
    --border-radius: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}
ion-label {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
ion-radio .radio-checked{
    --border-radius: 2px solid #fff;
    --background: #fff;
}
// ion-radio {
//   background: #ffffff;
//   border-width: 1px !important;
//   border-style: solid !important;
//   border: 2px solid #fff;
//   --height: 35px;
//   --width: 35px;
//   --checkmark-color: #4870f2;
//   --background-checked: #ffffff;
//   --border-color: #ffffff;
//   --border-color-checked: #ffffff;
// }
.item-checkbox-checked {
    color: blue;
}
.money1 {
    color: blue;
    font-size: 25px;
}
.money2 {
    color: blue;
    font-size: 25px;
}