
<ion-list>
  <ion-radio-group value="money">
    <ion-list-header>
      Chọn mệnh giá
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label class="ion-text-center" >20,000đ</ion-label>
          <ion-radio slot="start" value="money1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label >50,000đ</ion-label>
          <ion-radio slot="start" value="money2"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>100,000đ</ion-label>
          <ion-radio slot="start" value="money3"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label>200,000đ</ion-label>
          <ion-radio slot="start" value="money4"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>500,000đ</ion-label>
          <ion-radio slot="start" value="money5"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label>1,000,000đ</ion-label>
          <ion-radio slot="start" value="money6"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row> -->
  </ion-radio-group>

</ion-list>
