<div class="app-box pdr-20">
  <h2 class="app-title">Nhập số điện thoại bạn đang dùng</h2>
  <div class="app-detail">
    <ion-input class="app-input" type="number" placeholder="0939 6656565"></ion-input>
  </div>
  <h2 class="app-title">Chọn nhà mạng đang sử dụng</h2>
  <div class="app-detail">
    <div class="size-haft">
      <ion-radio-group value="prices" class="radio-box">
        <ion-row>
          <ion-col >
            <ion-item lines="none">
              <ion-radio value="1" ></ion-radio>
              <ion-label>Mobifone</ion-label>
            </ion-item>
          </ion-col>
          <ion-col >
            <ion-item lines="none">
              <ion-radio value="2"></ion-radio>
              <ion-label>Viettel</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </div>
  </div>
</div>
<div class="app-box pdr-20 pdt-20">
  <ion-button >Kế tiếp</ion-button>
</div>