
<div class="app-box pdr-20">
  <h2 class="app-title">Thông tin chi tiết</h2>
  <div class="app-detail">
    <div class="size-half">
      <ion-list>
        <ion-label>Họ tên</ion-label>
        <ion-item class="app-input" lines="none">
          <ion-input  placeholder="Nhập từ khóa"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-label>Điện thoại liên lạc</ion-label>
        <ion-item class="app-input" lines="none">
          <ion-input  placeholder="Số điện thoại"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-label>E-mail nhận ESIM</ion-label>
        <ion-item class="app-input" lines="none">
          <ion-input placeholder="E-mail của bạn"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
<div class="app-box pdr-20 pdt-20">
  <ion-button>Kế tiếp</ion-button>
</div>