
<ion-list *ngIf="this.sprSize == 1 else sqrSize2">
  <ion-list-header>Hình thức thanh toán</ion-list-header>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-icon slot="start" src="assets/icon/icon-payment.svg" ></ion-icon>
        <ion-label>Thanh toán với ví điện tử</ion-label>
        <ion-checkbox checked slot="end"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-list>

<ng-template #sqrSize2> 
  <ion-list>
    <ion-list-header>Nạp tiền cho số</ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>087 038 38 40</ion-label>
          <ion-checkbox color="primary" checked="false" slot="end"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label>087 038 38 42</ion-label>
          <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ng-template>