ion-list-header {
    font-size: 16px;
    color: #3c3c3c;
    font-weight: 700;
}
ion-item {
    --background: #fff;
    --border-radius: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}
ion-label {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
ion-checkbox .checkbox-icon {
    color: red;
    width: 10px;
    background-color: red;
}