<app-header-sub [title] = "'Đăng ký TTTB'"></app-header-sub>
<ion-content>
  <div class="app-box pack-box has-bg">
    <div class="app-detail">
      <h2 class="app-title">Số thuê bao bạn cần đăng ký</h2>
      <div class="horizon-box size-one-point8">
        <ion-row class="check-box">
          <ion-col>
            <ion-item lines="none">
              <ion-label>087 038 38 40</ion-label>
              <ion-checkbox color="light"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label>087 038 38 40</ion-label>
              <ion-checkbox color="light"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label>087 038 38 40</ion-label>
              <ion-checkbox color="light"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  
  <div class="app-box pack-box has-bg">
    <div class="app-detail">
      <h2 class="app-title">Hình ảnh phôi sim ( mặt chứa số serial )</h2>
      <div class="box-camera pdr-20">
        <!-- <ion-card class="ion-no-margin">
          <ion-card-content>
            <img src="assets/images/support/img-1.jpg" alt="">
          </ion-card-content>
        </ion-card> -->
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin">
              <ion-card-content>
                <img src="assets/images/support/img-1.jpg" alt="">
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="ion-no-margin">
              <ion-card-content>
                <img src="assets/images/support/img-1.jpg" alt="">
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
      <!-- <div class="horizon-box size-one-point8">
        <ion-card class="ion-no-margin">
          <ion-card-content>
              <img src="assets/images/cinema/1.png" alt="">
          </ion-card-content>
        </ion-card>
      </div> -->
    </div>
  </div>
  
  
  <div class="app-box pack-box has-bg pdr-20">
    <div class="app-detail">
      <h2 class="app-title">Chọn loại giấy tờ</h2>
      <div class="horizon-box size-one-point8">
        <ion-list class="faq-items">
          <ion-item lines="none" class="faq-item">
            <ion-icon src="assets/images/support/icon-identity-card.svg"></ion-icon>
            <ion-label class="ion-text-wrap">Chứng minh nhân dân
              <p class="number-identity">1903*********32</p>
            </ion-label>
            <ion-checkbox color="light" slot="end" ></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list class="faq-items">
          <ion-item lines="none" class="faq-item">
            <ion-icon src="assets/images/support/icon-identity-card.svg"></ion-icon>
            <ion-label class="ion-text-wrap">Chứng minh nhân dân</ion-label>
            <ion-icon class="ion-arrow" src="assets/images/support/icon-arrow-right.svg"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list class="faq-items">
          <ion-item lines="none" class="faq-item">
            <ion-icon src="assets/images/support/icon-passport.svg"></ion-icon>
            <ion-label class="ion-text-wrap">Hộ chiếu</ion-label>
            <ion-icon class="ion-arrow" src="assets/images/support/icon-arrow-right.svg"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  
  <div class="app-box pdr-20 pdt-20">
      <ion-button expand="block" routerLink="/utilities/show-popup" >Gửi yêu cầu đăng ký TTTB</ion-button>
  </div>  
</ion-content>
