<!-- <ion-content>
  <div class="popup-inr">
    <app-show-popup *ngIf="currentPopup == listPopup.ContentRentalSuccess"></app-show-popup>
  </div>
</ion-content> -->


<ion-content>
  <div class="popup-inr">
    <ion-img src="assets/images/icon-checkmark.png" ></ion-img>
    <br>
    <ion-label>Thuê thành công </ion-label>
    <ion-text>
      <h4>
        087 038 38 40 đã có thể sử dụng nội dung này
      </h4>
    </ion-text>
    <p>
      Bạn có thể quản lý nội dung đã thuê ở phần quản lý tài khoản
    </p>
    <ion-button >Đến trang tài khoản</ion-button>
  </div>
</ion-content>


<!-- <div class="popup-overlay">
  <app-message-success *ngIf="currentPopup == listPopup.ContentRentalSuccess"></app-message-success>
</div> -->