
<ion-content *ngIf="this.typePopup == 1; else typePopup2">
  <div class="popup-inr">
    <ion-img src="assets/images/icon-checkmark.png" ></ion-img>
    <ion-label>
      <h3 class="popup-title-price">+200,000đ</h3>
      <h4>
        087 038 38 40 đã được nạp tiền
      </h4>
    </ion-label>
    <p>
      Khám phá ngay iTel với nhiều ưu đãi dành <br> cho thuê bao cùng kho nội dung hấp dẫn!
    </p>
    <div class="app-box pdr-20">
      <ion-button expand="block" href="">Đến trang tài khoản</ion-button>
    </div>
  </div>
</ion-content>

<ng-template #typePopup2>
  <ion-content *ngIf="this.typePopup == 2; else typePopup3">
    <div class="popup-inr">
      <ion-img src="assets/images/icon-checkmark.png" ></ion-img>
      <ion-label>
        <h3 class="popup-title-success">Thuê thành công</h3>
        <h4>087 038 38 40 đã có thể <br> sử dụng nội dung này</h4>
      </ion-label>
      <p>
        Bạn có thể quản lý nội dung đã thuê ở <br> phần quản lý tài khoản
      </p>
      <div class="app-box pdr-20">
        <ion-button expand="block" href="">
          <ion-icon slot="start" src="assets/images/icon-play.svg"></ion-icon>
          Xem ngay
        </ion-button>
      </div>
    </div>
  </ion-content>
</ng-template>

<ng-template #typePopup3>
  <ion-content *ngIf="this.typePopup == 3; else typePopup4">
    <div class="popup-inr">
      <ion-img src="assets/images/icon-checkmark.png" ></ion-img>
      <ion-label>
        <h3 class="popup-title-success">Hoàn tất đăng ký</h3>
      </ion-label>
      <p>
        Thông tin đã được ITEL ghi nhận <br>
        Nhân viên hỗ trợ sẽ liên hệ để xử lý yêu cầu <br>
        trong vòng 1- 3 ngày làm việc. Mọi thắc mắc <br>
        vui lòng liên hệ Fanpage @itel.fan để được <br>
        hỗ trợ sớm nhất
      </p>
      <div class="app-box pdr-20">
        <ion-button expand="block" href="">
          Về trang chủ
        </ion-button>
      </div>
    </div>
  </ion-content>
</ng-template>

<ng-template #typePopup4>
  <ion-content *ngIf="this.typePopup == 4 else typePopup5">
    <div class="popup-inr">
      <ion-img src="assets/images/icon-checkmark.png"></ion-img>
      <ion-label>
        <h3 class="popup-title-success">Gửi yêu cầu thành công!
        </h3>
      </ion-label>
      <p>
        iTel đã nhận được yêu cầu đăng ký TTTB của bạn, thuê bao sẽ tự động được đăng ký thông tin sau 30 phút làm việc, cảm ơn bạn đã sử dụng dịch vụ của iTel
      </p>
      <div class="app-box pdr-20">
        <ion-button expand="block" href="">
          Về trang chủ
        </ion-button>
      </div>
    </div>
  </ion-content>
</ng-template>

<!-- popup success esim -->
<ng-template #typePopup5>
  <ion-content>
    <div class="popup-inr">
      <ion-img src="assets/images/icon-checkmark.png"></ion-img>
      <ion-label>
        <h3 class="popup-title-success">Gửi yêu cầu thành công!
        </h3>
      </ion-label>
      <p>
        iTel đã nhận được yêu cầu cấp đổi lại eSIM của bạn, thuê bao sẽ tự động được đăng ký thông tin sau 30 phút làm việc, cảm ơn bạn đã sử dụng dịch vụ của iTel      </p>
      <div class="app-box pdr-20">
        <ion-button expand="block" href="">
          Về trang chủ
        </ion-button>
      </div>
    </div>
  </ion-content>
</ng-template>