
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button>
      <ion-icon class="icon-menu" src="assets/icon/icon-sim-so.svg"></ion-icon>
      <ion-label>Sim số</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon class="icon-menu" src="assets/icon/icon-music.svg"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="game">
      <ion-icon class="icon-menu" src="assets/icon/icon-cinema.svg"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cinema">
      <ion-icon class="icon-menu" src="assets/icon/icon-cinema.svg"></ion-icon>
      <ion-label>Cinema</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sport">
      <ion-icon class="icon-menu" src="assets/icon/icon-sport.svg"></ion-icon>
      <ion-label>Sport</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-list>
  <ion-item>
    <ion-icon src="assets/icon/icon-sim-so.svg"></ion-icon>
    <ion-label>Sim số</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon src="assets/icon/icon-sim-so.svg"></ion-icon>
    <ion-label>Music</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon src="assets/icon/icon-sim-so.svg"></ion-icon>
    <ion-label>Game</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon src="assets/icon/icon-sim-so.svg"></ion-icon>
    <ion-label>Cinema</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon src="assets/icon/icon-sport.svg"></ion-icon>
    <ion-label>Sport</ion-label>
  </ion-item>
</ion-list> -->

