<div class="facility-box">
  <h2 class="app-title">Tiện ích</h2>
  <ion-row id="id-facility">
    <ion-col>
      <ion-img src="assets/images/facilities/sim-so.png"></ion-img>
      <ion-label>Sim số</ion-label>
    </ion-col>
    <ion-col>
      <ion-img src="assets/images/facilities/profile.png"></ion-img>
      <ion-label>Đăng ký <br>TTTB</ion-label>
    </ion-col>
    <ion-col>
      <ion-img src="assets/images/facilities/doi-sim.png"></ion-img>
      <ion-label>Đổi/Cấp <br>mới SIM</ion-label>
    </ion-col>
    <ion-col>
      <ion-img src="assets/images/facilities/chuyen-chu-quyen.png"></ion-img>
      <ion-label>Chuyển <br>chủ quyền</ion-label>
    </ion-col>
    <ion-col>
      <ion-img src="assets/images/facilities/tien-ich-khac.png"></ion-img>
      <ion-label>Tiện ích <br>khác</ion-label>
    </ion-col>
  </ion-row>
</div>