<!-- <div class="popup-inr message-box notification" *ngIf="!warningLogin">
  <h2>Gửi yêu cầu thành công</h2>
  <div class="outer-wrap">
      <div class="form-box">
          <div class="fs-txt">
              <p>iTel đã nhận được yêu cầu đăng ký TTTB của bạn, <br>thuê bao sẽ tự động được đăng ký
                  thông tin sau 30 phút làm việc. <br>cảm ơn bạn đã sử dụng dịch vụ của iTel</p>
          </div>
          <div class="fs-group fs-buts small-size">
              <a type="button" class="fs-but next-mask-red" (click)="closePopupReload()" title="ĐỒNG Ý">
                  <span>ĐỒNG Ý</span>
              </a>
          </div>
      </div>
  </div>
</div>

<div class="popup-inr message-box notification" *ngIf="warningLogin">
  <div class="close-popup" routerLink='/ho-tro/hoi-dap'></div>
  <h2>Thông báo</h2>
  <div class="outer-wrap">
      <div class="form-box">
          <div class="fs-txt">
              <p>Bạn vui lòng đăng nhập để thực hiện chức năng này!</p>
          </div>
          <div class="fs-group fs-buts small-size">
              <a type="button" class="fs-but next-mask-red" routerLink="/dang-nhap" title="ĐỒNG Ý">
                  <span>ĐỒNG Ý</span>
              </a>
          </div>
      </div>
  </div>
</div> -->


<div class="popup-inr" *ngIf="!successPopup">
  <ion-img src="assets/images/icon-checkmark.png" ></ion-img>
  <br>
  <h3>Thuê thành công</h3>
  <ion-text>
    <h4>
      087 038 38 40 đã có thể sử dụng nội dung này
      </h4>
  </ion-text>
  <p>
    Bạn có thể quản lý nội dung đã thuê ở phần quản lý tài khoản
  </p>
  <ion-button >
    <ion-icon slot="start" src></ion-icon>
    Xem ngay
  </ion-button>
</div>


<div class="popup-inr" *ngIf="successPopup">
  <ion-img src="assets/images/icon-checkmark.png" ></ion-img>
  <br>
  <ion-label>+200,000đ</ion-label>
  <ion-text>
    <h4>
      087 038 38 40 đã có thể sử dụng nội dung này
      </h4>
  </ion-text>
  <p>
    Khám phá ngay iTel với nhiều ưu đãi dành cho thuê bao cùng kho nội dung hấp dẫn!
  </p>
  <ion-button >Đến trang tài khoản</ion-button>
</div>