<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trung tâm hỗ trợ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-pay></app-pay>
  <app-confirm-shopping-cart></app-confirm-shopping-cart>
  <!-- <app-sim-registration></app-sim-registration>
  <app-contact-phone></app-contact-phone>
  <app-choose-document-type></app-choose-document-type>
  <app-sim-registration1></app-sim-registration1> -->
  <!-- <app-identity-card></app-identity-card> -->
  <!-- <app-sim-registration></app-sim-registration>
  <app-identity-card></app-identity-card>
  <app-confirm-info></app-confirm-info> -->
  <!-- <app-sim-registration1></app-sim-registration1>
  <app-sim-registration></app-sim-registration> -->
  <!-- <app-contact-us></app-contact-us>
  <app-faq></app-faq>
  <div class="app-box pdr-20 pdt-20">
    <ion-button expand="block">Đến trung tâm hỗ trợ</ion-button>
  </div> -->
</ion-content>

