<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trung tâm hỗ trợ</ion-title>
  </ion-toolbar> 
</ion-header>
<app-live-chat></app-live-chat>

<!-- 
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <textarea autosize maxRows = "3" [(ngModel)]="newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">Gửi</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->

