<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trung tâm hỗ trợ</ion-title>
  </ion-toolbar> 
</ion-header>
<!-- <app-live-chat></app-live-chat> -->

<ion-content>
  <!-- <app-identity-card></app-identity-card> -->
  <app-sim-registration *ngIf="stepPage == stepSupportPageEnum.SimRegistration"></app-sim-registration>
  <app-confirm-info *ngIf="stepPage == stepSupportPageEnum.ConfirmInfo"></app-confirm-info>
  <app-identity-card *ngIf="stepPage == stepSupportPageEnum.TakeCamera"></app-identity-card>
  <!-- <app-choose-document-type *ngIf="stepPage == stepSupportPageEnum.TakeCamera"></app-choose-document-type> -->
</ion-content>