
<div class="app-box pdr-20">
  <h2 class="app-title">Nhập số điện thoại bạn đang dùng</h2>
  <div class="app-detail">
    <ion-row class="check-box bg-white pdt-15">
      <ion-col>
        <ion-item lines="none">
          <ion-input placeholder="0939 6656565"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</div>
<!-- <ion-item lines="none">
  <ion-input placeholder="placeholder" type="text"></ion-input>
</ion-item>
<ion-item lines="none">
  <ion-input placeholder="placeholder" type="text"></ion-input>
</ion-item> -->