
<div class="app-box pdr-20" *ngFor="let item of rentalContentData">
  <h2 class="app-title">{{item.categoryName}}</h2>
  <div class="app-detail">
    <ion-row class="check-box bg-white">
      <ion-col *ngFor="let item2 of item.categoryItems; let i = index">
        <ion-item lines="none">
          <ion-img src="{{item2.img}}"></ion-img>
          <div class="sale-off">
            <span>{{item2.discount}}</span>
          </div>
          <ion-label class="ion-text-wrap">
            <h3>{{item2.title}}</h3>
            <p>{{item2.type}}</p>
            <span class="price">{{item2.price}}</span>
          </ion-label>
          <ion-checkbox color="light" slot="end" [attr.checked]="i === 0 ? true: null"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</div>


 