
.sale-off {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ED1F24;
    font-size: 13px;
    color: #fff;
    width: 79px;
    height: 28px;
    font-weight: 700;
    vertical-align: middle;
    opacity: 0.9;
    border-radius: 0px 15px 15px 15px;;
}
.sale-off span{
    position: absolute;
    top: 4px;
    left: 11px;
}
//
ion-img {
    position: relative;
    width: 90px;
    height: 90px;
    margin-right: 16px;
    margin-bottom: 0;
}
ion-label .price {
    font-size: 14px;
    font-weight: 500;
    color: #373737;
}
ion-item {
    --padding-start: 0;
    --border-radius: 15px;
}
ion-label h3 {
    font-weight: 700;
    font-size: 14px;
    color: #373737;
}
ion-label p {
    color: #838383;
    font-weight: 400;
    font-size: 12px;
}
.rent-time {
    position: relative;
    background-color: #ED1F24;
    ;
}