<ion-content>
  <div class="app-sign-in">
    <ion-img class="logo" src="assets/images/boarding/logo.png"></ion-img>
    <div class="app-box pdr-20 pdt-20">
      <ion-button class="bg-white" routerLink="/sign-in/login-account" routerDirection="root">
        <ion-icon src="assets/images/boarding/icon-number-sim.svg"></ion-icon>
        Đăng nhập bằng số iTel
      </ion-button>
      <ion-button class="bg-white" routerLink="/sign-in/login-account" routerDirection="root">
        <ion-icon src="assets/images/boarding/icon-3g.svg"></ion-icon>
        Đăng nhập bằng 3G/4G
      </ion-button>
    </div>
  </div>
</ion-content>