<div class="app-box">
  <div class="app-detail">
    <div class="size-haft">
      <ion-card class="question-relate ion-no-margin">
        <ion-card-title>Câu hỏi thường gặp</ion-card-title>
        <ion-item lines="none">
          <ion-input class="app-input" placeholder="Nhập từ khóa"></ion-input>
          <ion-icon class="icon-search" src="assets/images/support/icon-search.svg"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Tôi muốn chuyển chủ quyền SIM</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Cách để đăng ký TTTB</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-fab-button>
            <ion-icon src="assets/images/support/icon-plus.svg"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-text-wrap">Sự khác nhau giữa ESIM và SIM 
            vật lý là gì?</ion-label>
        </ion-item>
      </ion-list>
      <p>Bạn chưa thấy câu hỏi đang tìm?</p>
    </div>
  </div>
</div>