<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nạp thẻ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-color">
    <app-relation-phones></app-relation-phones>
    <app-choose-price></app-choose-price>
    <app-payment [type]="1"></app-payment>
    <ion-button expand="block" (click)="openModal()">Thanh toán 200,000đ</ion-button>
  </div>
</ion-content>



<!-- 
<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thuê nội dung</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- 
<ion-content>

  <app-rental-content></app-rental-content>
  <app-relation-phones></app-relation-phones>
  <app-payment [type]="2"></app-payment>
  <ion-button expand="block" (click)="openModal()">Thanh toán 200,000đ</ion-button>
</ion-content> -->



