<h2 class="app-title">Những số hiện có</h2>
<div class="favorite-items">
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <span class="favorite-caption">So VIP</span>
      <div class="app-button" (click)= "presentAlertConfirm()">
        <ion-button>Chon</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <span class="favorite-caption">So VIP</span>
      <div class="app-button">
        <ion-button>Chon</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
</div> 


<!-- <div class="app-box pdr-20">
  <h2 class="app-title">Những số hiện có</h2>
  <div class="app-detail ">
    <div class="favorite-items">
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <span class="favorite-caption">So VIP</span>
          <div class="app-button">
            <ion-button>Chon</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <span class="favorite-caption">So VIP</span>
          <div class="app-button">
            <ion-button>Chon</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <div class="app-button">
            <ion-button>Chọn</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <div class="app-button">
            <ion-button>Chọn</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <div class="app-button">
            <ion-button>Chọn</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <div class="app-button">
            <ion-button>Chọn</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <div class="app-button">
            <ion-button>Chọn</ion-button>
          </div>
        </ion-item>
      </div>
      <div class="favorite-item">
        <ion-item lines="none">
          <ion-label class="favorite-number">0368836079</ion-label>
          <div class="app-button">
            <ion-button>Chọn</ion-button>
          </div>
        </ion-item>
      </div>
    </div>
  </div>   
</div> -->

<!-- <div class="number-title">
  <ion-title>Nhung so hien co</ion-title>
</div>
<h2 class="app-title">Nhung so hien co</h2>
<div class="favorite-items">
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <span class="favorite-caption">So VIP</span>
      <div class="app-button">
        <ion-button>Chon</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <span class="favorite-caption">So VIP</span>
      <div class="app-button">
        <ion-button>Chon</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="favorite-item">
    <ion-item lines="none">
      <ion-label class="favorite-number">0368836079</ion-label>
      <div class="app-button">
        <ion-button>Chọn</ion-button>
      </div>
    </ion-item>
  </div>
</div> -->

