<ion-header id="app-header" [translucent]="true">
  <ion-toolbar id="app-header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
  <app-hot-menu [hotIndex]="0"></app-hot-menu>
</ion-header>

<ion-content>
  <app-facility></app-facility>
  <app-pack-data></app-pack-data>
  <app-slider [type]="'home-banner'"></app-slider>
  <app-promotion></app-promotion>
  <app-category-home [type]="'itel-game'"></app-category-home>
  <app-category-home [type]="'itel-cinema'"></app-category-home>
  <app-category-home [type]="'itel-music'"></app-category-home>
  <app-category-home [type]="'itel-sport'"></app-category-home>
</ion-content>
