<ion-grid class="menu">
  <ion-row class="menu-top" >
    <ion-col class="ion-text-center active">
      <ion-icon class="icon-menu" src="assets/icon/icon-sim-so.svg"></ion-icon>
      <br>
      <ion-label>Sim số</ion-label>
    </ion-col>
    
    <ion-col class="ion-text-center" routerLink="/itel-music"  >
      <ion-icon class="icon-menu" src="assets/icon/icon-music.svg"></ion-icon>
      <br>
      <ion-label >Music</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" routerLink="/itel-game"  >
      <ion-icon class="icon-menu" src="assets/icon/icon-cinema.svg"></ion-icon>
      <br>
      <ion-label>Game</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" routerLink="/itel-cinema"  >
      <ion-icon class="icon-menu" src="assets/icon/icon-cinema.svg"></ion-icon>
      <br>
      <ion-label>Cinema</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" routerLink="/itel-sport"  >
      <ion-icon class="icon-menu" src="assets/icon/icon-sport.svg"></ion-icon>
      <br>
      <ion-label>Sport</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>


<!-- <ion-list>
  <ion-item>
    <ion-icon class="icon-menu" src="assets/icon/icon-sim-so.svg"></ion-icon>
    <ion-label>Sim số</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon class="icon-menu" src="assets/icon/icon-music.svg"></ion-icon>
    <ion-label>Music</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon class="icon-menu" src="assets/icon/icon-cinema.svg"></ion-icon>
    <ion-label>Game</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon class="icon-menu" src="assets/icon/icon-cinema.svg"></ion-icon>
    <ion-label>Cinema</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon class="icon-menu" src="assets/icon/icon-sport.svg"></ion-icon>
    <ion-label>Sport</ion-label>
  </ion-item>
</ion-list> -->


