
<div class="app-box">
    <!-- ảnh mặt trước -->
    <h2 class="app-title">Ảnh mặt trước</h2>
    <div class="app-detail">
        <div class="horizon-box size-one-point8" *ngIf="identityBefore == null" (click)="getIdentityBefore('camera')">
            <ion-list class="faq-items">
                <ion-item lines="none" class="faq-item">
                    <ion-icon src="assets/images/support/icon-camera.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">Chụp ảnh</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div class="box-camera pdr-20" *ngIf="identityBefore != null">
            <ion-card class="ion-no-margin">
                <ion-card-content>
                    <img [src]="identityBefore">
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <!-- ảnh mặt sau -->
    <h2 class="app-title">Ảnh mặt sau</h2>
    <div class="app-detail">
        <div class="horizon-box size-one-point8" *ngIf="identityAfter == null" (click)="getIdentityAfter('camera')">
            <ion-list class="faq-items">
                <ion-item lines="none" class="faq-item">
                    <ion-icon src="assets/images/support/icon-camera.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">Chụp ảnh</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div class="box-camera pdr-20" *ngIf="identityAfter != null">
            <ion-card class="ion-no-margin">
                <ion-card-content>
                    <img [src]="identityAfter">
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</div>


<div class="app-box pdr-20 pdt-20">
    <ion-button expand="block">Gửi ảnh</ion-button>
</div>