
<div class="app-box pdr-20">
  <h2 class="app-title">Thông tin chi tiết</h2>
  <div class="app-detail">
    <div class="size-half">
      <ion-list>
        <ion-label>Họ tên</ion-label>
        <ion-item class="app-input" lines="none">
          <ion-input  placeholder="Nhập từ khóa"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-label>Điện thoại liên lạc</ion-label>
        <ion-item class="app-input" lines="none">
          <ion-input  placeholder="Số điện thoại"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-label>E-mail nhận ESIM</ion-label>
        <ion-item class="app-input" lines="none">
          <ion-input placeholder="E-mail của bạn"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
<div class="app-box pdr-20 pdt-20">
  <ion-button>Kế tiếp</ion-button>
</div>


<div class="app-box pdr-20">
  <div class="app-detail">
    <div class="size-haft">
      <ion-list>
        <ion-radio-group value="receiveSim">
          <ion-item>
            <ion-label>Địa chỉ nhận Sim</ion-label>
            <ion-radio slot="end" value="receiveSim1"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-label>Địa chỉ chi tiết</ion-label>
            <ion-item class="app-input fs-select" lines="none">
              <ion-select>
                <ion-select-option value="">TPHCM</ion-select-option>
                <ion-select-option>Hà Nội</ion-select-option>
              </ion-select>
              <ion-icon src="assets/images/support/icon-arrow-down.svg"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-label>Địa chỉ chi tiết</ion-label>
            <ion-item class="app-input fs-select" lines="none">
              <ion-select>
                <ion-select-option class="select-default">Tỉnh / TP</ion-select-option>
                <ion-select-option value="">TPHCM</ion-select-option>
                <ion-select-option>Hà Nội</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-list>
            <ion-label>Địa chỉ chi tiết</ion-label>
            <ion-item>
              <ion-select>
                <ion-select-option value="">TPHCM</ion-select-option>
                <ion-select-option>Hà Nội</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
       -->
    </div>
  </div>
</div>
