
<div class="app-box pdr-20">
  <ion-radio-group class="app-radio">
    <ion-list>
      <ion-item lines="none" class="check-radio ion-no-padding">
        <ion-label>Địa chỉ nhận SIM</ion-label>
        <ion-radio class="check-policy" color="danger" slot="end" value="receiveSim" ></ion-radio>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="app-caption" position="stacked">Địa chỉ chi tiết</ion-label>
        <ion-input class="app-input" placeholder="1020 đường 3/2, P6, Quận 10, HCM"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="app-caption" position="stacked">Tỉnh / TP</ion-label>
            <ion-select>
              <ion-select-option value="01">Tỉnh / TP</ion-select-option>
              <ion-select-option value="02">TPHCM</ion-select-option>
              <ion-select-option value="03">Kiên Giang</ion-select-option>
              <ion-select-option value="04">Nha Trang</ion-select-option>
              <ion-select-option value="05">Phan Thiết</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="app-caption" position="stacked">Quận / huyện</ion-label>
            <ion-select>
              <ion-select-option value="01">Quận / huyện</ion-select-option>
              <ion-select-option value="02">Q1</ion-select-option>
              <ion-select-option value="03">Q2</ion-select-option>
              <ion-select-option value="04">Q3</ion-select-option>
              <ion-select-option value="05">Q4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="app-caption" position="stacked">Phường / Xã</ion-label>
            <ion-select>
              <ion-select-option value="01">Tỉnh / TP</ion-select-option>
              <ion-select-option value="02">TPHCM</ion-select-option>
              <ion-select-option value="03">Kiên Giang</ion-select-option>
              <ion-select-option value="04">Nha Trang</ion-select-option>
              <ion-select-option value="05">Phan Thiết</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="app-caption" position="stacked">Ấp / Khu / Tòa</ion-label>
            <ion-select>
              <ion-select-option value="01">Quận / huyện</ion-select-option>
              <ion-select-option value="02">Q1</ion-select-option>
              <ion-select-option value="03">Q2</ion-select-option>
              <ion-select-option value="04">Q3</ion-select-option>
              <ion-select-option value="05">Q4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-item lines="none" class="check-radio ion-no-padding">
        <ion-label >Nhận tại phòng đại lý Itel</ion-label>
        <ion-radio class="check-policy" color="danger" value="receiveAgency"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label position="stacked"></ion-label>
        <ion-select class="icon-location">
          <ion-select-option value="01">Bình Dương</ion-select-option>
          <ion-select-option value="02">Âu Cơ</ion-select-option>
          <ion-select-option value="03">Phú Quốc</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-radio-group>
</div>

<app-payment></app-payment>