ion-content {
    position: relative;
    --background: #ED1F24;
    text-align: center;
}
.modal-wrapper {
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
}
ion-icon {
    width: 115px;
    height: 115px;
}
ion-label {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}
ion-text h4 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
ion-content p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
ion-button {
    width: 230px;
    height: 48px;
    color: #ED1F24;
    font-size: 20px;
    font-weight: 700;
    --background: #fff;
    --border-radius: 27px !important;
}