<!-- <ion-header>
	<ion-toolbar>
		<ion-searchbar></ion-searchbar>
    <ion-buttons fill="outline" slot="end">
			<ion-button (click)="dismiss()">
				Cancel
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header> -->
<!-- 
<ion-button (click)="dismiss()">
  Cancel
</ion-button> -->


<ion-content>
  <!-- <ion-icon src="assets/icon/icon-checkmark.svg" ></ion-icon>
  <br>
  <ion-label>+200,000đ</ion-label>
  <ion-text>
    <h4>0368836079 đã được nạp tiền</h4>
  </ion-text>
  <p>
    Khám phá ngay iTel với nhiều ưu đãi dành <br>
    cho thuê bao cùng kho nội dung hấp dẫn!
  </p>
  <ion-button >Đến trang tài khoản</ion-button> -->
  <div class="modal-wrapper">
    <ion-icon src="assets/icon/icon-checkmark.svg" ></ion-icon>
    <br>
    <ion-label>+200,000đ</ion-label>
    <ion-text>
      <h4>0368836079 đã được nạp tiền</h4>
    </ion-text>
    <p>
      Khám phá ngay iTel với nhiều ưu đãi dành <br>
      cho thuê bao cùng kho nội dung hấp dẫn!
    </p>
    <ion-button >Đến trang tài khoản</ion-button>
  </div>
    <!-- <div class="modal-wrapper">
      <ion-icon src="assets/icon/icon-checkmark.svg" ></ion-icon>
      <br>
      <ion-label>+200,000đ</ion-label>
      <ion-text>
        <h4>0368836079 đã được nạp tiền</h4>
      </ion-text>
      <p>
        Khám phá ngay iTel với nhiều ưu đãi dành <br>
        cho thuê bao cùng kho nội dung hấp dẫn!
      </p>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>

      <ion-button >Đến trang tài khoản</ion-button>
    </div> -->
</ion-content>