<div class="nap-tien-cho-so">
  <h2 class="title-block">Nạp tiền cho số</h2>
  <div class="nap-tien-cho-so-detail">
    <ion-row *ngIf="relationPhones.length > 0">
      <ion-col *ngFor="let item of relationPhones; let i = index">
        <ion-item>
          <div class="ion-checkbox-customize">
            <ion-label>{{item.phone}}</ion-label>
            <ion-checkbox [attr.checked]="i === 0 ? true: null"></ion-checkbox>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</div>
