
<div class="app-box pack-box has-bg pdr-20">
  <div class="app-detail">
    <h2 class="app-title">5 số điện thoại thường xuyên liên lạc</h2>
    <div class="horizon-box size-one-point8">
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-icon src="assets/images/support/icon-phonebook.svg" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">Chọn số điện thoại 01</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-icon src="assets/images/support/icon-phonebook.svg" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">Chọn số điện thoại 01</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-icon src="assets/images/support/icon-phonebook.svg" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">Chọn số điện thoại 01</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-icon src="assets/images/support/icon-phonebook.svg" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">Chọn số điện thoại 01</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-icon src="assets/images/support/icon-phonebook.svg" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">Chọn số điện thoại 01</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="faq-items">
        <ion-item lines="none" class="faq-item">
          <ion-icon src="assets/images/support/icon-phonebook.svg" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">Chọn số điện thoại 01</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>

